.backg {
  background-color: #4CAF50 !important;
}

h2 {
  font-size: 60px !important;
  color: #4CAF50 !important;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Para asegurarse de que esté por encima de otros elementos */
}

.seccion {
  padding: 100px;
  height: 100vh;
  /* Cada sección ocupará la altura completa de la ventana */
}

#inicio {
  background-color: rgb(255, 255, 255);
}

#aliados {
  background-color: rgb(255, 255, 255);
}

#nosotros {
  background-color: rgb(255, 255, 255);
}

#app {
  background-color: rgb(255, 255, 255);
}

#flutter {
  background-color: rgb(241, 241, 241);
}

html {
  scroll-behavior: smooth;
  /* Desplazamiento suave */
}