.backg {
  background-color: #4CAF50 !important;
}

h2 {
  font-size: 60px !important;
  color: #4CAF50 !important;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Para asegurarse de que esté por encima de otros elementos */
}

.seccion {
  padding: 100px 20px;
  min-height: 100vh;
  /* Cada sección ocupará la altura completa de la ventana */
}

/* Para las diferentes secciones */
#inicio, #aliados, #nosotros, #app, #flutter {
  background-color: rgb(255, 255, 255);
}

#flutter {
  background-color: rgb(241, 241, 241);
}

html {
  scroll-behavior: smooth;
}

/* Ajustes específicos para la sección de aliados */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 0 20px;
}

.cardCustom {
  border: none;
  box-shadow: none;
  text-align: center;
}

.cardCustom img {
  max-height: 150px;
  width: auto;
  object-fit: scale-down;
}

/* Ajustes responsive adicionales */
@media (max-width: 768px) {
  .seccion {
    padding: 50px 10px;
  }

  h2 {
    font-size: 40px !important;
  }

  .cardCustom img {
    max-height: 120px;
  }
}
