.container {
  padding: 50px 15px;
}

h3 {
  color: #388E3C;
  /* Puedes cambiar este color según tu paleta */
}

p {
  font-size: 16px;
  /* Ajusta el tamaño de fuente según lo necesites */
  line-height: 1.5;
}

.imgNosostros {
  height: 50%;
  /* Mantén la altura fija o ajusta según lo que necesites */
  width: 100%;
  /* Ocupa el 100% del ancho disponible */
  object-fit: cover;
  /*Mantén la proporción de la imagen */
  border-radius: 2%;
}

.row{
  padding: 20px;
}
.col-md-4{
  align-content: center;
}