.carousel-item img {
    height: 70%; /* Mantén la altura fija o ajusta según lo que necesites */
    width: 100%; /* Ocupa el 100% del ancho disponible */
     object-fit:contain; /*Mantén la proporción de la imagen */
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px; /* Ajusta la altura para pantallas más pequeñas */
    }
}

.imgCarousel{
    background-color: transparent !important;
}

